
manifest {
  author            = "Christina Kuhn, Robin Goldmann, Johann Wurz"
  description       = "workflow for chemical graph alignments"
  mainScript        = "main.nf"
  name              = "GraphDating-never-dies"
}


params {

//  dependencies
    date                = new Date()
    program_type        = "graphDating"         // "graphDating", "multiVitamin", "nothing"
    alignment_type      = "matching_based"      // "matching_based", "bron_kerbosch"
    without_hydrogen    = "true"                // "true", "false"
    visualisation       = "false"               // "true", "false"

    ec_subtree          = "EC_4_2_1"


//  directories
    publish_graphs              = "/home/johann/OneDrive/Projects/projects/praktikum/git/graphen/graphs/${ec_subtree}/"
    publish_alignments          = "/home/johann/OneDrive/Projects/projects/praktikum/git/graphen/alignments/"

//  input
    json                = "/home/johann/OneDrive/Projects/projects/praktikum/git/graphen/data2/${ec_subtree}/*"
    neo4j_user          = "neo4j"
    neo4j_password      = "cane-ventilations-pitches"
    neo4j_http          = "bolt://52.91.165.128:37280"


//  databases

}

