
manifest {
  author            = "Christina Kuhn, Robin Goldmann, Johann Wurz"
  description       = "workflow for chemical graph alignments"
  mainScript        = "main.nf"
  name              = "GraphDating-never-dies"
}


params {

    date            = new Date()

//  dependencies
    program_type        = "graphDating"         // "graphDating", "multiVitamin", "migrane", "all"
    alignment_type      = "matching_based"       // "matching_based", "bron_kerbosch"
    without_hydrogen    = "true"                // "true", "false"
    visualisation       = "true"                // "true", "false"

//  directories    
   
//  input
    json                = "$baseDir/data/json/*"
    neo4j_user          = "neo4j"
    neo4j_password      = "cane-ventilations-pitches"
    neo4j_http          = "bolt://52.91.165.128:37280"
//  databases

}

